@media (min-width: 768px) {
  .container {
    min-width: 780px;
  }
}

@media (min-width: 992px) {
  .container {
    min-width: 980px;
  }
}

@media (min-width: 1255px) {
  .container {
    min-width: 1245px;
  }
}
